<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="shortcut icon" href="./resources/img/favicon.png" type="image/x-ico">

    <link rel="stylesheet" href="../css/style.css">
    <title>Ticket de Compra</title>
</head>

<body>
    <div class="ticket nunito">
        <h1> Ticket de Compra</h1>

        <div class="dato"><strong>ID Ticket:</strong>
            <%= ticket.idTicket %>
        </div>
        <div class="dato"><strong>Cliente:</strong>
            <%= ticket.comprador %>
        </div>
        <div class="dato"><strong>Fecha:</strong>
            <%= ticket.fecha %>
        </div>
        <div class="dato"><strong>Productos:</strong>
            <ul class="ul-prod-ticket">
                <% productos.forEach(p => { %>
                    <li class="li-prod-ticket">
                        <span class="prod-nombre"><%= p.nombre %></span>
                        <span class="prod-detalle">$<%= p.precio %> x <%= p.cantidad %> = <span class="prod-subtotal">$<%= p.subtotal %></span></span>
                    </li>
                <% }) %>
            </ul>
        </div>
        <div class="dato-total"><strong>Total:</strong> $<%= ticket.precioTotal %>
        </div>

        <p class="gracias">¡Gracias por tu compra!</p>
        <div class="botones-ticket">
            <% if (typeof mostrarBoton !== 'undefined' && mostrarBoton) { %>
                <form action="/ticket/<%= ticket.idTicket %>" method="get" class="boton-descarga" target="_blank">
                    <button type="submit">Descargar Ticket en PDF</button>
                </form>
            <% } %>
            
            <% if (typeof mostrarBoton !== 'undefined' && mostrarBoton) { %>
                <form action="/bienvenida.html" method="get" class="boton-finalizar" target="_self">
                    <button type="submit" onclick="localStorage.clear();">Finalizar</button>
                </form>
            <% } %>
        </div>
    </div>
</body>
</html>